.validation-bars {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  margin: 1rem;
}

.validation-bars li {
  width: 5rem;
  height: 1rem;
  border-radius: 2px;
}
